[Unit]
Description=Lightweight Kubernetes
Documentation=https://k3s.io
After=network-online.target

[Service]
Type=notify
EnvironmentFile=/etc/systemd/system/k3s.service.env
ExecStart=/usr/local/bin/k3s server \
  --node-external-ip ${K3S_NODE_EXTERNAL_IP} \
  --node-label CriticalAddonsOnly=true \
  --node-label georgi.space/node-id=${K3S_NODE_ID_LABEL} \
  --node-taint CriticalAddonsOnly=true:NoExecute \
  --no-deploy servicelb \
  --no-deploy traefik
KillMode=process
Delegate=yes
LimitNOFILE=infinity
LimitNPROC=infinity
LimitCORE=infinity
TasksMax=infinity
TimeoutStartSec=0
Restart=always
RestartSec=5s

[Install]
WantedBy=multi-user.target
